/* Footer.css */

.dark-footer {
    background-color: #333; /* Dark background color */
    color: #fff; /* Text color */
    padding: 20px;
    text-align: center;
  }
  
  .social-media-links a {
    color: #fff;
    margin: 0 10px;
    font-size: 24px;
  }
  
  /* Customize the icon styles if needed */
  /* CSS for navbar hover effects */
.navbar-nav .nav-link:hover {
  color: #007bff; /* Change to your preferred hover color */
}

.navbar-brand:hover {
  color: #0959af; /* Change to your preferred hover color */
}
.rightHalf {
  flex-grow: 1;
  height: 100vh; /* This makes the right half of the page cover the full height */
}

@media (min-width: 992px) {
  .contentArea {
      flex: 1;
  }
  .rightHalf {
      display: block;
  }
}
